 /**
 * @package   Gantry Template - RocketTheme
 * @version   3.2.15 January 25, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
/* Global */
   .jn{}
     .menutop li.root.lastItem{ margin-right:0px;background: url ("../images/menus/globalheader.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); /*width:105px;*/}
.menutop li.root > .item {
    border-radius: 0px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    font-size: 12px !important;
    outline: medium none;
    padding:0px 17px !important;
    position: relative; 
    white-space: nowrap;
    z-index: 10 !important;
    background: url ("../images/menus/globalheader.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    text-align:center;
  }
  .menutop ul.level2 {
    background: url("../images/menus/globalheader.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 59px 94px 0px !important;
    padding: 0 10px 0 0 !important;
    /*width: 148px !important;*/
}
  #rt-main .rt-containerInner {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e8e8e8;
    margin-left: 0px;
    padding: 27px 7px 55px 27px;
    position: relative;
    width: 951px;
    }
    .menutop ul li {
    display: block;
    margin: 0;
    padding: 0 0 1px;
    width: 216px !important;
    }

.rt-fusionmenu{margin-left: 0%;/*-webkit-border-radius: 5px;  background: url("../images/menus/globalheader.png") repeat-x scroll 0 0 transparent; border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/ margin-top: -3%;  width: 988px;   z-index: 9998;}
.menutop li {height: auto;margin: 0;padding: 0; position: relative; }
.menutop em {font-size: 80%;font-weight: normal;display: block;font-style: normal;}
/*changed by praphulla    margin: 0 0 0 1px;     padding: 1px 0 0; */
.menutop li .item, .menutop li.active .item {display: block;    margin: 0 0 0 1px;  padding: 1px 0 0;text-decoration: none;float: none;width: auto;}
.menutop li .fusion-submenu-wrapper {float: none;left: -999em;position: absolute;z-index:10;}
.menutop li:hover li ul, .menutop li.sfHover li ul {top: -999em;}
.menutop li:hover ul, .menutop li.sfHover ul {top: 0;}
/* Root Items */
.menutop {-webkit-border-radius: 5px;  background: url("../images/menus/globalheader.png") repeat-x scroll 0 0 transparent; border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); list-style: none;margin: 0;padding: 0;position: relative; line-height: 1em;display: inline-block;   /* width:100%; */} 
.menutop li.root {/*background: url("../images/menus/globalheader.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
  border-right: 1px solid #DBDBDB;
  float: left;
  margin:0px;
  /* changes made by prahulla */
  padding: 0px;
}
.menutop li.root:before{ content:""; position:absolute; width:100%; height:2px; /*background:#a6a6a6;*/ top:-19px; left:0;pointer-events: none;}
.menutop li.root.lastItem{ margin-right:0px;background: url ("../images/menus/globalheader.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); /*width:105px;*/}
.menutop li.root > .item {
  border-radius: 0px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    font-size: 12px !important;
    outline: medium none;
    padding:0px 17px;
     position: relative; 
    white-space: nowrap;
    z-index: 10 !important;
    background: url ("../images/menus/globalheader.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  text-align:center;
  }
 .menutop ul li > .item span:hover{
/*background:#434343;*/
    background: url("../images/menu_bg.png");
 /*background: url("../images/menus/globalheader.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); */
}
  .menutop ul{
  width:80% !important;
  }
  .menutop li.lastItem > .item {
    /*  padding: 0px 0px;   */
 /* width: 60px!important;*/
/*padding-right: 10px!important;*/ 
  }
.menutop li.root:hover > .item,
.menutop li.root.active > .item,
.menutop li.root.f-mainparent-itemfocus > .item{ /*background:#2f2f2f;*/ /*background-image:-moz-linear-gradient(center top , rgba(0, 0, 0, 0.8) 0px, transparent 10%, transparent 100%), -moz-linear-gradient(center top , rgba(0, 0, 0, 0.2) 0px, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.2) 100%), -moz-linear-gradient(left center , rgba(0, 0, 0, 0.2) 0px, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.2) 100%), -moz-linear-gradient(center top , #1E1E1E 0px, #4B4B4B 97%, transparent 97%, rgba(0, 0, 0, 0.45) 100%);transition: all 0.5s;   -webkit-transition: all 0.5s; /* Safari and Chrome */   /*-moz-transition: all 0.5s; /* Firefox 4 */  /* -o-transition: all 0.5s; /* Opera */ 
background:url("../images/menu_bg.png");
/* Webkit (Safari/Chrome 10) */ 
/*background-image: -webkit-gradient(linear, center top, right bottom, color-stop(0, #1E1E1E), color-stop(1, #4B4B4B));
/* Webkit (Chrome 11+) 
background-image: -webkit-linear-gradient(center top, #1E1E1E 0%, #4B4B4B 100%);
/* IE10 Consumer Preview  
background-image: -ms-linear-gradient(center top, #1E1E1E 0%, #4B4B4B 100%);
/* Opera 
background-image: -o-linear-gradient(center top, #1E1E1E 0%, #4B4B4B 100%);
/* W3C Markup, IE10 Release Preview 
background-image: linear-gradient(to center top, #1E1E1E 0%, #4B4B4B 100%);
 */ 
  }
 /*.menutop li.lastItem a, .menutop li.active.root.lastItem > .item, .menutop li.root.f-mainparent-itemfocus > .item{width:105px;!important;text-align:center!important;}   */
.menutop li.root > span.item{cursor:default;}  
.menutop li.root > .item span {outline: none;/*padding: 0 20px;*/ width: auto;line-height:35px;text-align:center!important;}
.menutop li.lastItem{border:none!important;background: url ("../images/menus/globalheader.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);}
.menutop li.root > .item em {font-size: 10px;display: block;text-transform: lowercase;line-height: 0.3em;}
.menutop li.parent.root .item span {}
.menutop li.root .subtext span {line-height: 1.9em;}
.menutop li.root > .item img {margin: 0 4px 0 0;vertical-align: text-bottom;}
/* Dropdown Surrounds */
.menutop ul {padding:7px 0; margin: 0px; float: left; border-radius:0px;}
.menutop ul.level2{ background: url("../images/menus/globalheader.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 59px 94px 0px !important;
    padding: 0px 6px 0px 0px;
    width: 143px;}
.menutop ul.level2:hover{
color:#ffffff;
}
.menutop .drop-bot {height: 1px;overflow: hidden;clear: both;}
.menutop .fusion-submenu-wrapper {height: auto !important;}
.menutop ul.level2 { margin: 0px;}
.menutop ul.level2 li > .item span {  color: #FFFFFF !important;
     padding-left: 21px !important;
    position: relative;
    text-align: left;
    width:61%;
    transition: all 0.5s ease 0s;}
.menutop ul.level2 li:hover > .item span,
.menutop ul.level2 li.active > .item span,
.menutop ul.level2 li.f-menuparent-itemfocus > .item span{ color:#fff!important}
/* Dropdown Items */
.menutop ul li { 
display: block;
margin: 0;
padding: 0 0 1px;
width: 209px;
background:url(../images/menus/submenu_line.png) 0 bottom repeat-x */
  }
.menutop ul li.lastItem{ background:none;}
.menutop ul li > .item {
  height: auto;
  display: block;
  font-size: 12px;
  cursor: pointer;
  }
.menutop ul li > .item:hover,
.menutop ul li.active > .item,
.menutop ul li.f-menuparent-itemfocus > .item{ color:#000 !important;
  }
.menutop ul li > .item span {display: block;width: 61%;overflow: hidden;line-height: 34px;}
.menutop ul li .item img {float: left;margin: 8px 6px 0 0;vertical-align: top;}
.menutop ul li .nolink span {display: block;}
.menutop ul li span.item {cursor: default;outline: none;}
.menutop ul li .subtext span {line-height: 1.9em;}
.menutop ul li .subtext em {line-height: 0.6em;padding-bottom: 7px;text-transform: lowercase;}
/* No JS */
.menutop li.root:hover > .fusion-submenu-wrapper {top: 35px;left: 0;}
.menutop ul li:hover > .fusion-submenu-wrapper {left: 180px;top: 0;}
/* Fusion JS */
.fusion-js-container {display: block;height: 0;left: 0;overflow: visible;position: absolute;top: 0;z-index: 600000!important;background: transparent !important; width:207
px}
.fusion-js-subs {display: none;margin: 0;overflow: hidden;padding: 0 !important;position: absolute;
width:198px;}
/* Grouped & Modules */
.menutop .fusion-grouped {padding-bottom: 10px;}
.menutop .fusion-grouped ol {padding: 0;}
.menutop .fusion-grouped ol li {padding: 0 15px;}
.menutop .fusion-grouped ol li .item {padding: 0 15px;}
.menutop .fusion-grouped ol li span {font-size: 85%;line-height: 2em;}
.menutop .type-module ol {padding: 0;}
.menutop .type-module ol li {padding: 0;}
.menutop .type-module ol li .fusion-modules {background: none;}
.menutop .type-module ol li .fusion-module {padding: 0;background: none;overflow: hidden;}
.menutop .fusion-module, .menutop .fusion-modules, .menutop .fusion-grouped {display: block;}
.menutop .fusion-modules.item {padding: 15px;}
.menutop .fusion-module em {display: inline;font-size: inherit;font-style: italic;}
.menutop .fusion-module a {font-size: inherit;line-height: 130%;}
.menutop .fusion-module p, .menutop .fusion-modules p {line-height: 160%;}
.menutop ul li.grouped-parent > .daddy span {background: none;}
.menutop li.root.firstItem > .item {
border-radius: 3px 0px 0px 3px;
}
.menutop li.root.lastItem > .item{
border-radius: 0px 3px 3px 0px;
}